body {
    background-color: #F4F4F4;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}
i {
    margin: 7px;
  }
.navbar {
  justify-content: center;
  align-items: center;
  height: 72px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: #141414;
  color: #fff;
  font-family: sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  
}
.wdt {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 1280px;
  margin-left: 70px;
  margin-right: 34px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.nav-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #FFFFFF99;
  transition: 0.2s;
  cursor: pointer;
}
.nav-item:hover {
 
  color: white;
}
.nav-item span {
  font-size: 15px;
}

.icon {
  margin-right: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-right: 0;
  background-color: #141414;
  width: 360px;
  height: 72px;
}

.search-bar input {
  width: 265px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(48, 48, 48);
  border: 0.1px solid rgb(48, 48, 48);
  
}
.search-bar button {
    height: 30px;
    background-color: rgb(48, 48, 48);
    border: 3px solid rgb(48, 48, 48);
    color: rgb(0, 0, 0);
}
.search-bar-mega {
    background-color: rgb(48, 48, 48); 
    border: 1px solid rgb(48, 48, 48);
    border-radius: 5px;
}

.watch-free {
  margin-left: 0;
  width: 121px;
  border: 3px solid var(--plus-main, linear-gradient(90deg, #ff5c4d 0, #eb469f 26.56%, #8341ef 75%, #3f68f9 100%));
  border-radius: 100px;
  font-size: 11px;
  height: 32px;
  background: var(--plus-main, linear-gradient(90deg, #ff5c4d 0, #eb469f 26.56%, #8341ef 75%, #3f68f9 100%));
  
}
.login {
  color: #FFFFFF99;
  text-decoration: none;
  margin-left: 10px;
  transition: 0.2s;
  margin-right: 60px;
} 
.login:hover {
  color: white;
}

